<h2>Salutation !</h2>
<h3>Veuillez confirmer votre email !</h3>

<p>
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmation de mon email !</a>
</p>

<p>
    Ce lien expirera dans 1 heure.
</p>
