<h1>Salutation ! Veuillez confirmer votre email !</h1>

<p>
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmation de mon email !</a>.
</p>

<p>
    Ce lien expirera dans 1 heure.
</p>
