{% extends 'base.html.twig' %}

{% block title %}E-mail de réinitialisation de mot de passe envoyé{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center" style="height: 89vh;">
    <div class="col-md-4 text-center">
        <h1 class="h3 mb-3 font-weight-normal">E-mail de réinitialisation envoyé</h1>
        
        <p>
            Si un compte correspondant à votre e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
            Ce lien expirera dans 1 heure.
        </p>
        
        <p>
            Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.
        </p>
        
        <a href="{{ path('app_login') }}" class="btn btn-primary mt-3">Retour à la connexion</a>
    </div>
</div>
{% endblock %}
