{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center" style="height: 89vh;">
    <div class="col-md-4">

        {# Messages d'erreur reset password #}
        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1 class="h3 mb-3 font-weight-normal text-center">Réinitialiser votre mot de passe</h1>

        {{ form_start(requestForm) }}
            <div class="mb-3">
                {# Email pour lien de réinitialisation #}
                {{ form_row(requestForm.email, {
                    'label': 'Email',
                    'attr': {'class': 'form-control'}
                }) }}
            </div>

            <button class="btn btn-primary w-100">Envoyer l'e-mail de réinitialisation du mot de passe</button>
        {{ form_end(requestForm) }}
    </div>
</div>
{% endblock %}
