@import '@fortawesome/fontawesome-free/css/all.min.css';


/* ---------------------- */
/* ----- HOME PAGE ----- */
/* -------------------- */

.home-banner {
    background-image: url('../uploads/images/imgMontagne.jpg');
    background-size: cover;
    background-position: center;
    height: 94vh;
    position: relative;
}

.home-banner .container {
    z-index: 2;
}

.home-banner .row {
    height: 100%;
}

.home-banner .col-md-6 {
    text-align: right;
}

.home-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


/* ARROW UP-DOWN */

.scroll-to-top {
    position: fixed;
    right: 20px; 
    display: block;
    background-color: #007bff; 
    color: white;
    border-radius: 50px; 
    padding: 10px; 
    text-align: center;
    font-size: 18px;
    z-index: 1000;
}

.down {
    bottom: 50px;
}

.up {
    bottom: 100px;
}

/* Load more */

.d-none {
    display: none !important;
}


/* -------------------------- */
/* ----- END HOME PAGE ----- */
/* ------------------------ */

/* --------------------------- */
/* ----- NEW TRICK PAGE ----- */
/* ------------------------- */

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* ------------------------------- */
/* ----- END NEW TRICK PAGE ----- */
/* ----------------------------- */


.equal-height {
    height: 200px; /* Hauteur fixe pour les images */
    width: 100%; /* Prendre toute la largeur de la colonne */
    object-fit: contain; /* Conserver le rapport d'aspect sans déformation */
    max-width: 100%; /* Éviter le dépassement */
}
